<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/account.css">
    <script defer src="script/script.js"></script>
</head>
<body>
    <header>
        <div class="firstHeader container flex">
            <div class="logo">
                <img src="/images/logohere.png" alt="logo image">
            </div>
            <form action="/searchforproducts" method="POST" class="searchCtn">
                <button class="searchBtn" type="submit">
                <img src="/css/icons/search.png" alt="search icon" class="searchIcon"></button>
                <input type="search" name="search" placeholder="Search Products">
                <select name="category">
                    <option value="">All Categories</option>
                        <option value="Shoe">Shoe</option>
                        <option value="Sandal">Sandal</option>
                        <option value="Sneakers">Sneakers</option>
                </select>
                <button class="searchCartBtn" type="submit"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
            </form>
            <div class="dataCtn">
                <div id="accIcon" class="activebox">
                    <img src="/css/icons/account.png" alt="account icon">
                </div>
                <a href="/wishlist">
                    <div class="wishlistIcon">
                    <span id="wishlistCount">0</span>
                    <img src="/css/icons/wishlist.png" alt="wishlist icon">
                </div></a>
                <a href="/cart"><div class="cartIcon">
                    <span id="cartCount">0</span>
                    <img src="/css/icons/shopping-cart.png" alt="cart icon">
                </div></a>
            </div>
            <div id="accountOverlay">
                <ul>
                    <a href="/account"><li>Account</li></a>
                    <a href="/checkout"><li>Order</li></a>
                    <a href="/login"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="container flex-end">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products"><li>Products</li></a>
                <a href="/about"><li>About</li></a>
                <!-- <a href="/404"><li>Trending Products</li></a>
                <a href="/404"><li>Special Offers</li></a> -->
                <a href="/contact"><li>Contact</li></a>                                         
            </ul>
        </div>
    </header>
    <main>
        <div class="productPage container">
            <div class="productMenu">
                <p class="productText">Home / My Account</p>
                <p class="welcome">Welcome <span><%= user.username %> </span></p>
            </div>


           <div class="accountCtn">
                <div class="accountMenu">
                    <div class="manageAccount">
                        <p class="accountTitle">Manage My Account</p>
                        <ul>
                            <a href="/account" class="active"><li>My Profile</li></a>
                            <a href="/404"><li>Address Book</li></a>
                            <a href="/404"><li>My Payment Options</li></a>
                        </ul>
                    </div>
                    <div class="myOrders">
                        <p class="accountTitle">My Orders</p>
                        <ul>
                            <a href="/checkout"><li>Checkout</li></a>
                            <a href="/404"><li>My Returns</li></a>
                            <a href="/404"><li>My Cancellations</li></a>
                        </ul>
                    </div>
                    <p class="accountTitle">My Wishlist</p>
                </div>

                <div class="profileInformation">
                    <form action="/update/<%= user._id %>" method="POST">
                        <p class="editProfile">Edit Your Profile</p>
                        <div class="profileInfo">
                            <div class="profileInfoSectionOne">
                                <div>
                                    <label for="">First Name</label>
                                    <input type="text" value="<%= user.firstname %>" name="firstname">
                                </div>
                                <div>
                                    <label for="">Email Address</label>
                                    <input type="text" value="<%= user.email %>" name="email">
                                </div>
                            </div>

                            <div class="profileInfoSectionTwo">
                                <div>
                                    <label for="">Last Name</label>
                                    <input type="text" value="<%= user.lastname %>" name="lastname">
                                </div>
                                <div>
                                    <label for="">Residential Address</label>
                                    <input type="text" name="address" value="<%= user.address %>" >
                                </div>
                            </div>
                        </div>
                        
                        <div class="passwordChange">
                            <label for="">Password Changes</label>
                            <input type="text" placeholder="Current Password" name="currPassword">
                            <input type="text" placeholder="New Password" name="newPassword">
                            <input type="text" placeholder="Confirm Password" name="cPassword">
                        </div>
                        <div class="profileButtons">
                            <button class="cancelBtn">Cancel</button>
                            <button class="saveChangesBtn">Save Changes</button>
                        </div>
                    </form>
                </div>
           </div>
        </div>
    </main>
    <div class="absolute none">
        <div id="wishlistSection" class="wishlistSection"></div>
        <div id="wishlistCountTwo"></div>
        <div id="cartCountTwo"></div>
        <div id="cartSection" class="cartSection"></div>
        <div id="subTOTAL"></div>
        <div id="Total"></div>
        <div id="cartTotal"></div>
        <div id="shippingPrice"></div>
    <div class="moveAllToCartBtn"></div>

    </div>
</body>
</html>