<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/adminProfile.css">
    <link rel="stylesheet" href="/css/userDisplay.css">

    <script defer src="script/script.js"></script>
</head>
<body>
    <div class="overlay">
        <div>
            <p>B-Sh<img style="margin-right: 3px" src="/css/icons/shopping-cart (2).png" alt=""> p</p>
        </div>
        <ul>
            <a href="/users"><li><img src="/css/icons/man.png" width="30px" alt="">Users</li></a>
            <a href="/adminProfile"><li class="active"><img src="/css/icons/user.png" alt="">Profile</li></a>
            <a href="/productsDisplay"><li><img src="/css/icons/shopping-cart (1).png" alt="">Products</li></a>
        </ul>
    </div>

    <div style="width: 80%; position: relative;">
        <header>
            <div class="container">
                <% admin.forEach(function(admin) { %>
                    <h2>Welcome, Admin <%= admin.username %></h2>
                <% }); %>
                <form action="/search" method="POST" class="search">
                    <button class="searchBtn" type="submit">
                        <img src="/css/icons/search.png" alt="search icon">
                    </button>
                    <input type="search" name="search" placeholder="Search Users">
                    <select>
                        <option value="All Categories">All Categories</option>
                    </select>
                    <button class="categoriesBtn"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
                </form>
            </div>
        </header>
        <main>
            <div class="productPage container">
            <div class="accountCtn">
                    <div class="profileInformation">
                <% admin.forEach(function(admin) { %>
                        <form action="/updateAdminProfile/<%= admin._id %>" method="POST">
                            <p class="editProfile">Update Your Profile</p>
                            <div class="profileInfo">
                                <div class="profileInfoSectionOne">
                                    <div>
                                        <label for="">First Name</label>
                                        <input type="text" name="firstname" value="<%= admin.firstname %>">
                                    </div>
                                    <div>
                                        <label for="">Email Address</label>
                                        <input type="text" name="email" value="<%= admin.email %>">
                                    </div>
                                </div>

                                <div class="profileInfoSectionTwo">
                                    <div>
                                        <label for="">Username</label>
                                        <input type="text" name="username" value="<%= admin.username %>">
                                    </div>
                                    <div>
                                        <label for="">Residential Address</label>
                                        <input type="text" name="address" value="" >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="passwordChange">
                                <label for="">Password Changes</label>
                                <input type="text" name="password" placeholder="Current Password">
                                <input type="text" name="newPassword" placeholder="New Password">
                                <input type="text" name="cNewPassword" placeholder="Confirm Password">
                            </div>
                            <div class="profileButtons">
                                <!-- <button class="cancelBtn">Cancel</button> -->
                                <button class="saveChangesBtn">Save Changes</button>
                            </div>
                        </form>
                <% }); %>

                    </div>
            </div>
            </div>
        </main>
    </div>
</body>
</html>