<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="stylesheet" href="/css/order.css">
    <!-- <script defer src="/script/jquery3.6.1.js"></script> -->
    <script defer src="/script/script.js"></script>
    <script defer src="/script/checkout.js"></script>
</head>
<body>
    <header>
        <div class="firstHeader container flex">
            <div class="logo">
                <img src="/images/bshoplogo.png" alt="logo image">
            </div>
            <form action="/searchforproducts" method="POST" class="searchCtn">
                <button class="searchBtn" type="submit">
                <img src="/css/icons/search.png" alt="search icon" class="searchIcon">
            </button>
                <input type="search" name="search" placeholder="Search Products">
                <select name="category">
                    <option value="">All Categories</option>
                        <option value="Shoe">Shoe</option>
                        <option value="Sandal">Sandal</option>
                        <option value="Sneakers">Sneakers</option>
                </select>
                <button class="searchCartBtn" type="submit"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
            </form>
            <div class="dataCtn">
                <div id="accIcon">
                    <img src="/css/icons/account.png" alt="account icon">
                </div>
                <a href="/wishlist">
                    <div class="wishlistIcon">
                    <span id="wishlistCount">0</span>
                    <img src="/css/icons/wishlist.png" alt="wishlist icon">
                </div></a>
                <a href="/cart"><div class="cartIcon">
                    <span id="cartCount">0</span>
                    <img src="/css/icons/shopping-cart.png" alt="cart icon">
                </div></a>
            </div>
            <div id="accountOverlay">
                <ul>
                    <a href="/account"><li>Account</li></a>
                    <a href="/checkout"><li>Order</li></a>
                    <a href="/login"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="container flex-end">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products"><li>Products</li></a>
                <a href="/about"><li>About</li></a>
                <!-- <a href="/404"><li>Trending Products</li></a>
                <a href="/404"><li>Special Offers</li></a> -->
                <a href="/contact"><li>Contact</li></a>                                         
            </ul>
        </div>
    </header>
    <main>
        <div id="orderModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/checkout" method="post" id="paymentForm" name="form">
                    <h2>Checkout Summary</h2>
                    <div id="payAmountCtn">
                        <p>Total Amount to pay</p>
                        <p>&dollar;<span class="amtPay">0</span></p>
                    </div>
                    <div class="payDetails">
                        <p>Payment Details</p>
                        <p><input type="radio" checked> Pay with Mastercard and Visa</p>
                    </div>
                    <div class="cardDetails">
                        <input type="text" class="cardNumber" name="cardNumber" placeholder="Card Number">
                        <div class="payOtherDetails">
                            <input type="text" class="expiryDate" name="expiryDate" placeholder="MM/YY" pattern="\d{2}/\d{2}" />
                            <input type="text" class="cvv" name="cvv" placeholder="CVV">
                            <input type="text" class="phoneNumber" name="phoneNumber" placeholder="Phone number"> 
                        </div>
                        <input type="email" class="email" name="email" placeholder="Email"> 
                        <button class="payNow" type="submit">
                            <p>Pay Now: &dollar;<input name="amount" class="amt"></p>
                        </button>
                    </div>
                  </form>
            </div>
        </div>

        <div id="message"></div>
        <div class="checkoutPage container">
           <div class="checkoutCtn">
                <div class="checkoutInformation">
                    <form action="saveBillingDetails" method="POST" name="billingDetails">
                        <div class="checkoutInfo">
                            <h2>Billing Details</h2>
                            <div class="infoCtn">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" value="<%= user.firstname %>">
                            </div>
                            <div class="infoCtn">
                                <label for="companyName">Company Name</label>
                                <input type="text" id="companyName" name="companyName" value="<%= user.companyName %>">
                            </div>
                            <div class="infoCtn">
                                <label for="streetAddress">Street Address</label>
                                <input type="text" id="streetAddress" name="streetAddress" value="<%= user.streetAddress %>">
                            </div>
                            <div class="infoCtn">
                                <label for="apartment">Apartment, floor, etc. (Optional)</label>
                                <input type="text" id="apartment" name="apartment" value="<%= user.apartment %>">
                            </div>
                            <div class="infoCtn">
                                <label for="town">Town / City</label>
                                <input type="text" id="town" name="town" value="<%= user.town %>">
                            </div>
                            <div class="infoCtn">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
                            </div>
                            <div class="infoCtn">
                                <label for="emailAddress">Email Address</label>
                                <input type="text" id="emailAddress" name="emailAddress" value="<%= user.email %>">
                            </div>
                            <div class="saveInfo">
                                <input type="checkbox" id="saveInfo" name="checkbox">
                                <label for="saveInfo">Save this information for faster check-out next time</label>
                            </div>
                            <button type="submit" id="saveInfoBtn" class="saveInfoBtn">Save Info</button>
                        </div>
                    </form>
                </div>

                <div class="checkoutMenu">
                    <div id="checkoutSection" class="checkoutSection"></div>

                    <div class="couponCartTotalCtn">
                        <div class="cartTotal">
                            <h3>Cart Total</h3>
                            <div  class="subTOTAL">
                                <p>Subtotal:</p>
                                <p>&dollar;<span id="subTOTAL"></span></p>
                            </div>
                            <div class="shipping">
                                <p>Shipping:</p>
                                <p>&dollar;<span id="shippingPrice"></span></p>
                            </div>
                            <div class="total">
                                <p>Total:</p>
                                <p>&dollar;<span id="Total"></span></p>
                            </div>
                            <button id="placeOrder" class="placeOrder">Place Order</button>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </main>
    <div class="absolute none">
        <div id="wishlistSection" class="wishlistSection"></div>
        <div id="wishlistCountTwo"></div>
        <div id="wishlistCount"></div>
        <div id="cartCountTwo"></div>
        <div id="cartSection" class="cartSection"></div>
        <div id="subTOTAL"></div>
        <div id="Total"></div>
        <div id="cartTotal"></div>
        <div id="shippingPrice"></div>
        <div class="moveAllToCartBtn"></div>
        <div id="productModal"></div>
    </div>
    </div>
</body>
</html>




