<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productDetails.css">
    <script defer type="application/javascript" src="script/script.js"></script>
    <!-- Klaviyo Tracking Script -->
    <script type="text/javascript">
      var _learnq = _learnq || [];
      _learnq.push(['account', 'X2gYeG']); // Replace with your actual public API key
    </script>
    <script src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=YOUR_PUBLIC_API_KEY" async></script>
</head>
<body>
    <header>
        <div class="firstHeader container flex">
            <div class="logo">
                <img src="https://res.cloudinary.com/df2q6gyuq/image/upload/v1723000309/bshopLogo_jqhr93.png" alt="logo image">
            </div>

            <form action="/searchProducts" method="POST" class="searchCtn">
                <button class="searchBtn" type="submit">
                <img src="/css/icons/search.png" alt="search icon" class="searchIcon"></button>
                <input type="search" name="search" placeholder="Search Products">
                <select name="category">
                    <option value="">All Categories</option>
                        <option value="Shoe">Shoe</option>
                        <option value="Sandal">Sandal</option>
                        <option value="Sneakers">Sneakers</option>
                </select>
                <button class="searchCartBtn" type="submit"><img src="/css/icons/searchwhite.png" width="16px" alt="search icon"></button>
            </form>

            <div class="dataCtn">
                <div id="accIcon">
                    <img src="/css/icons/account.png" alt="account icon">
                </div>
                <a href="/wishlist">
                    <div class="wishlistIcon">
                    <span id="wishlistCount">0</span>
                    <img src="/css/icons/wishlist.png" alt="wishlist icon">
                </div></a>
                <a href="/cart"><div class="cartIcon">
                    <span id="cartCount">0</span>
                    <img src="/css/icons/shopping-cart.png" alt="cart icon">
                </div></a>
            </div>
            <div id="accountOverlay">
                <ul>
                    <a href="/account"><li>Account</li></a>
                    <a href="/checkout"><li>Order</li></a>
                    <a href="/login"><li>Log Out</li></a>
                </ul>
            </div>
        </div>

        <div class="container flex-end">
            <ul class="menu">
                <a href="/"><li>Home</li></a>
                <a href="/products" class="active"><li>Products</li></a>
                <a href="/about"><li>About</li></a>
                <!-- <a href="/404"><li>Trending Products</li></a>
                <a href="/404"><li>Special Offers</li></a> -->
                <a href="/contact"><li>Contact</li></a>                                         
            </ul>
        </div>
    </header>
   <main>
        <div class="menu container">
            <ul>
                <a href="/"><li>Home</li></a>/
                <a href="/products"><li>Product</li></a>/ 
                <a href="/productDetails" class="active"><li>Product detail</li></a>
            </ul>
        </div>
        <div class="container flex-align-start">
            <div class="productImageCtn">
                <div><img src="<%=product.imageURL%>" alt=""></div>
                <div><img src="<%=product.imageURL%>" alt=""></div>
                <div><img src="<%=product.imageURL%>" alt=""></div>
                <div><img src="<%=product.imageURL%>" alt=""></div>
            </div>
            <div class="productDescCtn">
                <h2 class="productName"><%=product.productName%></h2>
                <p class="category"><%=product.category%></p>
                <div class="ratingCtn">
                    <img src="/css/icons/star.png" alt="rating icon"> 
                    <p class="rating"><%=product.rating%></p>
                </div>
                <div class="priceCtn">
                    $<p class="delPrice"><del><%=product.delPrice%></del></p>
                    $<p class="price"><%=product.currentPrice%></p>
                </div>
                <div class="productDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem incidunt ducimus ratione dolorum asperiores assumenda enim quidem aliquam, qupiditate sunt!</div>
                <hr>

                <div class="productAmountCtn flex-start">
                    <div class="productAmount">
                        <button class="decreaseBtn">-</button>
                        <input type="text" value="1">
                        <button class="increaseBtn">+</button>
                    </div>
                    <button class="buyNow">Buy Now</button>
                    <button class="buyNow" id="buyNowBtn">Buy Now</button>
                    <button class="wishlistBtn"><img src="/css/icons/wishlist.png" alt=""></button>
                </div>
            </div>
    </div>
</main>
<div class="absolute none">
    <div id="wishlistSection" class="wishlistSection"></div>
    <div id="wishlistCountTwo"></div>
    <div id="cartCountTwo"></div>
    <div id="cartSection" class="cartSection"></div>
    <div id="subTOTAL"></div>
    <div id="Total"></div>
    <div id="cartTotal"></div>
    <div id="shippingPrice"></div>
    <div class="moveAllToCartBtn"></div>
</div>
</html>
