<form action="/update/<%= user._id %>" method="POST">
    <label for="name">First Name:</label>
    <input type="text" id="name" name="firstname" value="<%= user.firstname %>" required>
    <br>
    <label for="name">User Name:</label>
    <input type="text" id="username" name="username" value="<%= user.username %>" required>
    <br>
    <label for="name">Email Address:</label>
    <input type="text" id="name" name="email" value="<%= user.email %>" required>
    <br>
    <label for="password">Password</label>
    <input type="password" id="name" name="password" value="<%= user.password %>" required>
    <br>
    <button type="submit">Save Changes</button>
</form>